name: 'Publish Lambda and Deploy Services with Terraform'

on:
  # push:
  #   branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]
  workflow_dispatch:
    branches: [ "main" ]

permissions:
  contents: write

env:
  TF_VAR_LAMBDA_JAR: "./target/scala-3.6.2/DiscordEmailWebhook-assembly-v1.0.0.jar"
  TF_VAR_LAMBDA_ZIP: "./DiscordEmailWebhook.zip"

jobs:
  build-lambda:
    name: 'Build Lambda'
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: 'sbt'

      - name: Set up SBT
        uses: sbt/setup-sbt@v1

      - name: Build SBT
        run: sbt compile

  test-lambda:
    name: 'Test Lambda'
    runs-on: ubuntu-latest
    environment: development
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: 'sbt'

      - name: Set up SBT
        uses: sbt/setup-sbt@v1

      - name: Build and Test with Coverage
        run: |
          sbt coverage test
          sbt coverageReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish-lambda:
    name: 'Publish Lambda'
    runs-on: ubuntu-latest
    environment: development
    needs: [build-lambda, test-lambda]
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: 'sbt'

      - name: Set up SBT
        uses: sbt/setup-sbt@v1

      - name: Publish New Lambda Function
        run: sbt assembly

      - name: Zip Jar Program
        run: zip ${{ env.TF_VAR_LAMBDA_ZIP }} ${{ env.TF_VAR_LAMBDA_JAR }}

      - name: Upload Lambda as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: EmailWebhookHandlerLambda
          path: ${{ env.TF_VAR_LAMBDA_ZIP }}

      - name: Upload dependency graph
        uses: scalacenter/sbt-dependency-submission@ab086b50c947c9774b70f39fc7f6e20ca2706c91

  check-terraform:
    name: 'Check Terraform'
    runs-on: ubuntu-latest
    environment: development

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Format
        run: terraform fmt -check

  plan-terraform-development:
    name: 'Plan Terraform Development'
    runs-on: ubuntu-latest
    environment: development
    needs: check-terraform

    defaults:
      run:
        shell: bash

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      run: terraform init

    - name: Terraform Plan
      env:
        TF_VAR_discord_name: ${{ vars.TF_VAR_DISCORD_NAME }}
        TF_VAR_domain_name: ${{ vars.TF_VAR_DOMAIN_NAME }}
        TF_VAR_recipient: ${{ vars.TF_VAR_RECIPIENT }}
        TF_VAR_webhook_address: ${{ vars.TF_VAR_WEBHOOK_ADDRESS }}
        TF_VAR_lambda_path: ${{ env.TF_VAR_LAMBDA_ZIP }}
        TF_VAR_aws_access_key_id: ${{ secrets.TF_VAR_AWS_ACCESS_KEY_ID }}
        TF_VAR_aws_secret_access_key: ${{ secrets.TF_AWS_VAR_SECRET_ACCESS_KEY }}
      run: terraform plan

  publish-terraform-development:
    name: 'Publish Terraform Development'
    runs-on: ubuntu-latest
    environment: development
    needs: [publish-lambda, plan-terraform-development]

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Download Lambda as Artifact
        uses: actions/download-artifact@v4
        with:
          name: EmailWebhookHandlerLambda
          path: ${{ env.TF_VAR_LAMBDA_ZIP }}

      - name: Terraform Apply
        env:
          TF_VAR_discord_name: ${{ vars.TF_VAR_DISCORD_NAME }}
          TF_VAR_domain_name: ${{ vars.TF_VAR_DOMAIN_NAME }}
          TF_VAR_recipient: ${{ vars.TF_VAR_RECIPIENT }}
          TF_VAR_webhook_address: ${{ vars.TF_VAR_WEBHOOK_ADDRESS }}
          TF_VAR_lambda_path: ${{ env.TF_VAR_LAMBDA_ZIP }}
          TF_VAR_aws_access_key_id: ${{ secrets.TF_VAR_AWS_ACCESS_KEY_ID }}
          TF_VAR_aws_secret_access_key: ${{ secrets.TF_AWS_VAR_SECRET_ACCESS_KEY }}
        if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
        run: terraform apply -auto-approve

  plan-terraform-production:
    name: 'Plan Terraform Production'
    runs-on: ubuntu-latest
    environment: production
    needs: check-terraform

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        env:
          TF_VAR_discord_name: ${{ vars.TF_VAR_DISCORD_NAME }}
          TF_VAR_domain_name: ${{ vars.TF_VAR_DOMAIN_NAME }}
          TF_VAR_recipient: ${{ vars.TF_VAR_RECIPIENT }}
          TF_VAR_webhook_address: ${{ vars.TF_VAR_WEBHOOK_ADDRESS }}
          TF_VAR_lambda_path: ${{ env.TF_VAR_LAMBDA_ZIP }}
          TF_VAR_aws_access_key_id: ${{ secrets.TF_VAR_AWS_ACCESS_KEY_ID }}
          TF_VAR_aws_secret_access_key: ${{ secrets.TF_AWS_VAR_SECRET_ACCESS_KEY }}
        run: terraform plan

  publish-terraform-production:
    name: 'Publish Terraform Production'
    runs-on: ubuntu-latest
    environment: production
    needs: [publish-lambda, plan-terraform-production, publish-terraform-development]

    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1

      - name: Terraform Init
        run: terraform init

      - name: Download Lambda as Artifact
        uses: actions/download-artifact@v4
        with:
          name: EmailWebhookHandlerLambda
          path: ${{ env.TF_VAR_LAMBDA_ZIP }}

      - name: Terraform Apply
        env:
          TF_VAR_discord_name: ${{ vars.TF_VAR_DISCORD_NAME }}
          TF_VAR_domain_name: ${{ vars.TF_VAR_DOMAIN_NAME }}
          TF_VAR_recipient: ${{ vars.TF_VAR_RECIPIENT }}
          TF_VAR_webhook_address: ${{ vars.TF_VAR_WEBHOOK_ADDRESS }}
          TF_VAR_lambda_path: ${{ env.TF_VAR_LAMBDA_ZIP }}
          TF_VAR_aws_access_key_id: ${{ secrets.TF_VAR_AWS_ACCESS_KEY_ID }}
          TF_VAR_aws_secret_access_key: ${{ secrets.TF_AWS_VAR_SECRET_ACCESS_KEY }}
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve
